.search-container {
    padding: .5rem;
}

.search-box {
    --search-border-color: #ccc;
    border: .094rem solid var(--search-border-color);
    border-radius: .188rem;
    width: 100%;
}

input:focus-visible {
    outline: none;
}

.error-message {
    color: red;
}
